html{
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    display: block;
    margin: 8px;
}
h1{
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;
}
.hero{
    min-height:100vh ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}